.twoImages {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 15px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.imageFloatRight {
  max-height: 350px;
  float: right;
  margin-left: 15px;
}

@media screen and (max-width: 700px) {
  .imageFloatRight {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
